.page {
    padding: 0;
    margin: 200px 200px;
    background-color: #cdc9c9;
    display: flex;
    justify-content: space-around;
}

p,
a {
    margin: 0;
    padding: 0;
}

.button-hawk {
    display: block;
    min-width: 100px;
    min-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
}



.button-hawk:hover {
    color: #ff0000;
}

.button-hawk:hover:after {
    width: 100%;
}

.button-hawk:active {
    box-shadow: 0 0 5px 5px rgb(244, 65, 65);
}