.page {
    margin: 25px;
    max-width: 1150px;
}

.image {
    width: 75px;
    position: absolute;
    top: 228px;
    left: 725px;
}

.keyboard {
    position: absolute;
    bottom: 15px;
    right: 44%;
}

.flight-bumblebee {
    display: flex;
    justify-content: center;
    margin: auto;
}

.button {
    background: #eee; 
    border: 4px outset #ccc; 
    padding: .3em .6em;
}

.button:active {
    background: #a5a4a4; 
    border: 4px outset #a5a4a4; 
}

.image-first {
    position: absolute;
    left: 20px;
}

.image-second {
    position: absolute;
    right: 20px;
}

.image-third {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.image-fourth {
    position: absolute;
    bottom: 20px;
    right: 20px;
}