img {
    width: 300px;
}

.text {
    display: block;
    width: 600px;
}

a {
    line-height: 1.5;
}

button {
    width: 150px;
}

p {
    width: 400px;
}

.image{
    width: 700px;
}

.image-page{
    width: 300px;
}