.page {
    padding: 0;
}

.block-create {
    display: flex;
    justify-content: start;
    margin-left: 100px;
    margin-top: 100px;
}

.button-create{
    border-radius: 2px;
}

.button-create:active {
    background-color: cornflowerblue;
}