.page {
    margin: 0;
}

.error {
    color: brown;
}

.result-number__text {
    font-size: 24px;
    font-weight: 700;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #6ebeff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}