.page {
    padding: 0;
}

.block-locations {
    display: flex;
    justify-content: center;
    margin: 250px 0 0 0;
}
.button-my-location {
    padding: 15px 25px;
    border-color: rgb(100, 100, 240);
    border-radius: 3px;
}

.distance-block {
    display: flex;
    justify-content: center;
}

.distance-button {
    padding: 15px 25px;
    border-color: rgb(101, 101, 209);
    border-radius: 3px;
}