.page {
    margin: 100px;
    display: flex;
    justify-content: center;
}
.block-color {
    border-radius: 4px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 5px 44px 13px rgba(49, 54, 20, 1.2)
}