.page {
    margin: 25px;
    max-width: 1150px;
}

.page__title {
    margin: 20px;
}

.registration-form {
    background-color: aquamarine;
    max-width: 500px;
    border: solid 1px black;
    border-radius: 10px;
}

.registration-form__title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5px;
}

.registration-form__seat {
    margin: 20px;
    display: flex;
    gap: 10px;
}

.choice-seat-error {
    color: brown;
}

.form-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    padding: 5px;
}

.registration-form__input {
    width: 30px;
    border: solid 1px black;
    border-radius: 5px;
}

.registration-form__food {
    margin: 20px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}

.registration-form_select-food {
    border: solid 1px black;
    border-radius: 5px;
}

.registration-form__button {
    border: solid 1px black;
    border-radius: 5px;
}

.registration-form__button:active {
    background-color: rgb(84, 84, 84);
}

.registration-form__agreement {
    margin: 20px;
}

.message {
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 500px;
    color: #000000;
    background-color: #37be5f;
    text-align: center;
}

.hidden {
    display: none;
}