.page {
    padding: 0;
    margin: 0;
}

.block-text {
    margin: 50px;
}

.button-text-down {
    transform: rotate(90deg);
    transition: 0.3s;
}

.button-text-up {
    transform: rotate(0deg);
    transition: 0.3s;
}

.button-cut {
    width: 18px;
    height: 18px;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    opacity: 0.5;
}

.button-cut:active {
    background-color: darkgrey;
}

.text-title {
    display: inline-block;
    margin-left: 15px;
}


.text {
    display: none;
}

.text-cut {
    display: block;
    max-width: 500px;
    padding-left: 38px;
}