.page {
    padding: 0;
    margin: 0;
}

.block-calculator {
    text-align: center;
    margin: 200px;
}

.input-calculator {
    border: none;
    border: solid 1px black;
    border-radius: 10px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    max-width: 100px;
    margin-right: 15px;
}

.block {
    display: none;
}

.button-calculator {
    padding: 0;
    margin-left: 10px;
    border: none;
    background-color: rgb(97, 97, 97);
    border: solid 1px rgb(0, 0, 0);
    color: gold;
    border-radius: 10px;
    line-height: 50px;
    width: 150px;
    font-size: 25px;
}

.button-calculator:hover {
    cursor: pointer;
}

.button-calculator:active {
    background-color: rgb(40, 40, 40);
}

.error {
    border: none;
    border: solid 1px black;
    background-color: crimson;
    border-radius: 10px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    max-width: 100px;
    margin-right: 15px;
}