h2,
input,
p {
    padding: 0;
    margin: 0;
}

.page {
    padding: 0;
    margin: 0 200px;
    background-color: #cdc9c9;
}

.main {
    margin: 200px 0;
}

.input-clean {
    display: flex;
    padding: 0;
}

.close-button{
    text-align: center;
    margin: auto 0;
    background-color: red;
    box-sizing: border-box;
    padding: 8px 14px;
    border-radius: 4px;
}

.close-button:active{
    background-color: rgb(124, 0, 0);
}